<nav>
    <div class="nav-container">
        <div class="nav-left">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li><a href="{{ "about/" | relURL }}">About</a></li>
                <li><a href="https://github.com/jescobedo" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jescob" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</nav>